/*NORMALIZE*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input, textarea {
  outline: none;
  border: none;
  border: 0px;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

h1, h2, h3, h4, h5, h6, p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  padding: 0;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

button,
input,
optgroup,
select {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

summary {
  display: list-item;
}

/*NORMALIZE*/
body {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.orange {
  color: #f7600e;
}

/*NAVIGATION*/
header {
  background-image: url(../img/jpeg/PhotoBackground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__wraper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
nav .burger__text {
  margin-left: auto;
  color: #fff;
  padding-right: 3px;
  letter-spacing: 1px;
}

.nav__logo {
  padding-left: 1em;
}

.nav__button {
  position: relative;
  right: -13px;
  top: 0;
  width: 25px;
  height: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.nav__button .burger {
  width: 100%;
  position: absolute;
  top: 0;
  height: 2px;
  background: #fff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__button span:before {
  width: 100%;
  position: absolute;
  height: 2px;
  background: #fff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  content: "";
  top: 8px;
  -webkit-transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav__button span:after {
  width: 100%;
  position: absolute;
  height: 2px;
  background: #fff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  content: "";
  top: 16px;
  -webkit-transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav__menu {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(59, 67, 76, 0.9450980392);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  overflow: auto;
}

.menu__wraper {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  padding: 9rem 1rem;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.1rem;
}
.nav__list .nav__link {
  color: #fff;
  text-decoration: none;
  font-size: 2.1em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
.nav__list .nav__link:hover {
  color: #f7600e;
}
.nav__list li:nth-child(5) {
  border-bottom: 2px #f7600e solid;
  padding-bottom: 3.5rem;
  margin-bottom: 1.2rem;
}

.nav__menu.active {
  display: block;
}

.arr__border {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border: 2px #fff solid;
  border-radius: 50%;
  margin-bottom: 3.4rem;
}

.arrow {
  position: absolute;
  top: 9px;
  left: 8.9px;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

.arrow__bottom {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.close {
  position: absolute;
  right: -1px;
  top: 25px;
  width: 32px;
  height: 32px;
}
.close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: "";
  height: 35px;
  width: 2px;
  background-color: #fff;
}

.scroll__hidden {
  overflow: hidden;
  padding-right: 15px;
}

/*NAVIGATION*/
/*SLIDER*/
.slider {
  text-align: center;
  padding-top: 10.1rem;
}

.slider__title {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1rem;
  padding-right: 10px;
  font-size: 4.7em;
}

.slider__text {
  color: #fff;
  max-width: 62%;
  margin: 0 auto;
  margin-bottom: 3.8rem;
  font-size: 1.74em;
  line-height: 1.5em;
}

.slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  margin-bottom: 12.43rem;
}
.slider__buttons .slider__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 600;
  width: 210px;
  border: 1px #65696e solid;
  padding: 14px 0px;
  border-radius: 10px;
}
.slider__buttons .slider__link:hover {
  background-color: #f7600e;
  border: 1px #f7600e solid;
}

/*SLIDER*/
/*SERVICES*/
.services {
  margin-bottom: 4.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servises__wraper {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 9.8rem));
  grid-template-rows: 1fr;
  grid-gap: 8.5rem;
  padding-top: 6rem;
}

.servises__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(59, 67, 76, 0.7725490196);
}

.servises__item__img {
  border: 1px #c4c6c9 solid;
  width: 100%;
  height: 9.8rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.4rem;
}

.services__item__title {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.1em;
  margin-bottom: 1.2rem;
}

.services__item__text {
  text-align: center;
  font-size: 1em;
  width: 100%;
  line-height: 1.7rem;
  font-weight: 400;
}

/*SERVICES*/
.form {
  background-image: url(../img/jpeg/PhotoBackground_form.jpg);
  margin-bottom: 5.6rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form__wraper {
  max-width: 43%;
  margin: 0 auto;
  height: 15.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  font-size: 1.1em;
}

.form__text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 1rem 1.3rem;
  border: 0px;
  border-radius: 8px;
  font-weight: 300;
}

.form__button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem 0;
  border-radius: 8px;
  background-color: #f7600e;
  color: #fff;
  font-weight: 600;
}

/*OUR WORKS*/
.ourworks {
  margin-bottom: 5.7rem;
}

.ourworks__wraper {
  max-width: 1165px;
  margin: 0 auto;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ourworks__title {
  text-transform: uppercase;
  font-size: 2.34em;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.ourworks__text {
  max-width: 29.6rem;
  margin: 0 auto;
  text-align: center;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.95rem;
  color: rgba(59, 67, 76, 0.831372549);
  margin-bottom: 5.8rem;
}

.ourworks__gallery {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1.6rem;
  margin-bottom: 6rem;
}

.ourworks__gallery__item {
  position: relative;
  border-radius: 10px;
}
.ourworks__gallery__item .ourworks__img {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.ourworks__gallery__item__info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 5rem;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: rgba(247, 96, 14, 0.8117647059);
  opacity: 0;
}
.ourworks__gallery__item__info:hover {
  opacity: 1;
}

.ourworks__info__title {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.7em;
  margin-bottom: 1.3rem;
}

.ourworks__info__subtitle {
  max-width: 70%;
  font-weight: 300;
  font-size: 0.95em;
  line-height: 1.7em;
  margin-bottom: 2.7rem;
}

.ourworks__info__button {
  width: 60%;
  background-color: #fff;
  color: #f7600e;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  padding: 1rem 0;
  border-radius: 8px;
  letter-spacing: 0.8px;
}

.ourworks__button {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 600;
  text-decoration: none;
  color: #3b434c;
  border: 1px #c4c6c9 solid;
  border-radius: 10px;
  padding: 1rem 3rem;
}

/*OUR WORKS*/
/*SAYHELLO*/
.sayhello {
  background-image: url(../img/jpeg/PhotoBackground_footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sayhello__wrapper {
  max-width: 53.76rem;
  margin: 0 auto;
  padding: 6rem 1rem 0rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sayhello__title {
  text-transform: uppercase;
  font-size: 2.34em;
  font-weight: 600;
  letter-spacing: 1.3px;
  margin-bottom: 0.8rem;
  color: #fff;
}

.sayhello__text {
  font-size: 1.1em;
  max-width: 30rem;
  font-weight: 400;
  line-height: 1.9rem;
  font-weight: 400;
  text-align: center;
  color: #fff;
  margin-bottom: 4rem;
}

.sayhello__form__wraper {
  width: 100%;
  margin-bottom: 9rem;
}

.sayhello__form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3rem 12.4rem 1fr;
  grid-gap: 2.1rem;
}

.form__hello__email {
  grid-column-start: 1;
  grid-column-end: 2;
  padding-left: 1.2rem;
  border-radius: 8px;
  font-size: 1.22em;
}
.form__hello__email::-webkit-input-placeholder {
  color: #000;
}
.form__hello__email::-moz-placeholder {
  color: #000;
}
.form__hello__email:-ms-input-placeholder {
  color: #000;
}
.form__hello__email::-ms-input-placeholder {
  color: #000;
}
.form__hello__email::placeholder {
  color: #000;
}

.form__hello__subject {
  grid-column-start: 2;
  grid-column-end: 3;
  border-radius: 10px;
  padding-left: 1.2rem;
  font-size: 1.2em;
}
.form__hello__subject::-webkit-input-placeholder {
  color: #000;
}
.form__hello__subject::-moz-placeholder {
  color: #000;
}
.form__hello__subject:-ms-input-placeholder {
  color: #000;
}
.form__hello__subject::-ms-input-placeholder {
  color: #000;
}
.form__hello__subject::placeholder {
  color: #000;
}

.form__hello__textarea {
  grid-column-start: 1;
  grid-column-end: 3;
  resize: none;
  border-radius: 10px;
  padding: 0.8rem 1.3rem;
  font-family: inherit;
  font-size: 1.07em;
}
.form__hello__textarea::-webkit-input-placeholder {
  color: #000;
}
.form__hello__textarea::-moz-placeholder {
  color: #000;
}
.form__hello__textarea:-ms-input-placeholder {
  color: #000;
}
.form__hello__textarea::-ms-input-placeholder {
  color: #000;
}
.form__hello__textarea::placeholder {
  color: #000;
}

.form__hello__button {
  background-color: #f7600e;
  color: #fff;
  font-size: 1.1em;
  font-weight: 600;
  max-width: 53%;
  border-radius: 10px;
}

.socials {
  grid-column-start: 2;
  grid-column-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1.28rem;
}

/*SAYHELLO*/
footer {
  background-color: #3b434c;
  border-top: 2px #9da1a6 solid;
}

.footer__wraper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 0rem;
  height: 9rem;
  padding-top: 2.4rem;
}
.footer__wraper .footer__copy {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.7px;
}

@media screen and (max-width: 992px) {
  .servises__wraper {
    grid-template-columns: repeat(2, minmax(100px, 9.8rem));
  }
  .form {
    margin-bottom: 2rem;
  }
  .form__wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__text {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .form__button {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .ourworks__gallery {
    grid-template-columns: repeat(2, 45%);
  }
}
@media screen and (max-width: 768px) {
  .sayhello__form {
    grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
  }
  .form__hello__email {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .form__hello__subject {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .form__hello__textarea {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .form__hello__button {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    max-width: 100%;
  }
  .socials {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ourworks__gallery__item__info {
    padding-top: 2rem;
  }
}
@media screen and (max-width: 576px) {
  body {
    font-size: 12px;
  }
  .slider__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 4rem;
  }
  .servises__wraper {
    grid-template-columns: minmax(100px, 9.8rem);
    padding: 3rem 0;
    grid-gap: 3rem;
  }
  .ourworks {
    margin-bottom: 3rem;
  }
  .ourworks__gallery {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin-bottom: 3rem;
  }
  .ourworks__gallery__item__info {
    padding-top: 5rem;
  }
  .ourworks__text {
    margin-bottom: 3rem;
  }
  .sayhello__wrapper {
    padding-top: 3rem;
  }
}