footer {
    background-color: #3b434c;
    border-top: 2px #9da1a6 solid;
    padding: 0 2rem;
  }
  .footer__wraper {
    font-family: 'Open Sans', sans-serif;
    max-width: 1140px;
    margin: 0 auto;
    height: 9rem;
    color:#fff;  
    text-transform: uppercase;  
    padding-top: 3rem;
    a {
        font-size: 12em;
    }
  }
  
  