/*OUR WORKS*/
.ourworks {
    margin-bottom: 5.7rem; 
}
.ourworks__wraper {
    max-width: 1165px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ourworks__title {
    text-transform: uppercase;
    font-size: 2.34em;
    font-weight: 600;
    margin-bottom: 0.8rem;
}
.ourworks__text {
    max-width: 29.6rem;
    margin: 0 auto;
    text-align: center;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.95rem;
    color: $gray_color;
    margin-bottom: 5.8rem;
}
.ourworks__gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 2rem;
    margin-bottom: 6rem;
}
.ourworks__gallery__item {
    position: relative;
    border-radius: 10px;
    .ourworks__img {
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
}
.ourworks__gallery__item__info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    max-height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 5rem;
    color: #fff;
    text-align: center;
    border-radius: 10px;    
    width: 100%;
    height: 100%;
    background-color: #f7600ecf;
    opacity: 0;
    &:hover {
        opacity: 1;
    }
}
.ourworks__info__title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.7em;
    margin-bottom: 1.3rem;
}
.ourworks__info__subtitle {
    max-width: 70%;
    font-weight: 300;
    font-size: 0.95em;
    line-height: 1.7em;
    margin-bottom: 2.7rem;
}
.ourworks__info__button {
    width: 60%;
    background-color: #fff;
    color: $orange;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    padding: 1rem 0;
    border-radius: 8px;
    letter-spacing: 0.8px;
}

.ourworks__button { 
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 600; 
    text-decoration: none;
    color: #3b434c;
    border: 1px #c4c6c9 solid;  
    border-radius: 10px;
    padding: 1rem 3rem;
}
/*OUR WORKS*/