/*SAYHELLO*/
.sayhello {
    background-image: url(../img/jpeg/PhotoBackground_footer.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
}
.sayhello__wrapper {
    max-width: 53.76rem;
    margin: 0 auto;
    padding: 6rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.sayhello__title {
    text-transform: uppercase;
    font-size: 2.34em;
    font-weight: 600;
    letter-spacing: 1.3px;
    margin-bottom: 0.8rem;
    color: #fff;
}
.sayhello__text {
    font-size: 1.1em;
    max-width: 30rem;
    font-weight: 400;
    line-height: 1.9rem;
    font-weight: 400;
    text-align: center;
    color: #fff;
    margin-bottom: 4rem;
}
.sayhello__form__wraper{
    width: 100%;    
    margin-bottom: 9rem;
}
.sayhello__form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem 12.4rem 1fr;
    grid-gap: 2.1rem;    
}
.form__hello__email {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 1.2rem;
    border-radius: 8px;
    font-size: 1.22em;
    &::placeholder {
        color:#000;
    }
}
.form__hello__subject {
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: 10px;
    padding-left: 1.2rem;
    font-size: 1.2em;
    &::placeholder{
        color:#000;
    }
}
.form__hello__textarea {
    grid-column-start: 1;
    grid-column-end: 3;
    resize: none;
    border-radius: 10px;
    padding: 0.8rem 1.3rem;
    font-family: inherit;
    font-size: 1.07em;
    &::placeholder {        
        color:#000;
    }
}
.form__hello__button {
    background-color: $orange;
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;    
    max-width: 53%;
    border-radius: 10px;
}
.socials {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: flex-end;
    gap: 1.28rem;
}
/*SAYHELLO*/