/*SERVICES*/
.services {    
    margin-bottom: 4.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.servises__wraper {
    display: grid;
    grid-template-columns:repeat(4,minmax(100px, 9.8rem));
    grid-template-rows: 1fr;
    grid-gap: 8.5rem;
    padding-top: 6rem;
}
.servises__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3b434cc5;
}
.servises__item__img {
    border: 1px #c4c6c9 solid;
    width: 100%;
    height: 9.8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.4rem;
}
.services__item__title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.1em;
    margin-bottom: 1.2rem;
}
.services__item__text {
    text-align: center;
    font-size: 1em;
    width: 100%;
    line-height: 1.7rem;
    font-weight: 400;

}
/*SERVICES*/