@import "_normalize";
@import "_vars";
body {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.orange {
    color: $orange
}
@import "_header";
@import "_services";
@import "_form";
@import "_ourworks";
@import "_sayhello";
@import "_footer";
@import "_media"